@import "~normalize.css";
@import "./style/rules.css";

body {
    background-color: #a9a9a9;
    margin: 0;
}

.tic-tac-toe {
    text-align: center;

    &__title {
        font-family: 'Schwabacher', sans-serif;
        font-size: 36px;
        letter-spacing: 2px;
    }

    &__menu {
        margin-bottom: 48px;
        padding: 12px;
        box-shadow: 0px 8px 48px;

        &_type {
            &_desabled {
                box-shadow: none;
            }
        }
    }

    &__select {
        width: 150px;
        height: 36px;
        font-family: "Schwabacher", sans-serif;    
        font-size: 18px;
        background-color: #a9a9a9;
        border: 2px solid #122821;    
        border-radius: 5px;
        outline: none;

        &:hover {
            background-color: #c4c4c4;
        }

        &_type {
            &_desabled {
                opacity: 0.5;
            }
        }
    }

    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        width: 304px;
        height: 60px;
        margin: 24px auto 0;
    }

    &__button-start {
        display: block;
        width: 60px;
        height: 60px;
        font-family: "Schwabacher", sans-serif;
        font-size: 18px;
        background-color: #a9a9a9;
        border: 2px solid #122821;
        border-radius: 30px;
        box-shadow: 2px 2px 5px;
        outline: none;

        &:hover {
            background-color: #c4c4c4;
        }

        &:active {
            box-shadow: none;
        }

        &_type {
            &_desabled {
                display: none;
            }
        }
    }

    &__difficulty-wrapper {
        opacity: 0.5;
        width: 152px;
        display: flex;
        justify-content: space-between;

        &_type {
            &_active {
                opacity: 1;
            }

            &_desabled {
                display: none;
            }
        }
    }
    
    &__text-difficulty {
        font-family: "Schwabacher", sans-serif;    
        font-size: 18px;

        &:after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            border: 2px solid #122821;
            border-radius: 10px;
            margin: 6px auto;
        }
    }

    &__difficulty {
        display: none;
    }

    &__difficulty:checked + &__text-difficulty:after {
        background-color: #122821;
        box-shadow: 0px 0px 4px;
    }

    &__info {
        display: none;
        position: relative;
        top: 48px;
        font-family: "Schwabacher", sans-serif;
        font-size: 18px;
        margin: 0;

        &_type {
            &_active {
                display: block;
            }
        }

        &_gamer {
            &_second {
                margin-left: auto;
            }
        }
    }
    
    &__field {
        display: flex;
        flex-wrap: wrap;
        width: 304px;
        height: 304px;
        border: 2px solid #122821;
        margin: auto;
        padding: 12px;
        box-sizing: border-box;

        &_type {
            &_desabled {
                opacity: 0.5;
            }
        }

        &_style {
            &_modern {
                border-radius: 152px;
                padding: 42px;
            }

            &_blindly {
                box-shadow: 0px 0px 50px #ff9d00;
                border-radius: 152px;
                padding: 42px;
            }
        }
        
    }

    &__cell {
        background-color: #a3adc0;
        width: 80px;
        height: 80px;
        margin: 6px;
        box-shadow: 3px 3px 6px;
        background-size: cover;

        &_type {
            &_active {
                &:hover {
                    background-color: #c5d1e8;
                }
            }

            &_used {
                box-shadow: none;
            }

            &_win {
                box-shadow: 0 0 10px #fcff6b;
            }
            
            &_modern {
                width: 60px;
                height: 60px;
                margin: 6px;
                background-color: #a9a9a9;

                border-radius: 30px;
            }

            &_blindly {
                width: 60px;
                height: 60px;
                margin: 6px;
                box-shadow: 0px 0px 30px #ff9d00;
                background-size: cover;
                border-radius: 30px;
            }
        }

        &_style {
            &_classic-x {
                background-image: url('img/classic/x.svg');
            }

            &_classic-o {
                background-image: url('img/classic/o.svg');
            }

            &_modern-x {
                background-color: #001d14;
            }
            &_modern-o {
                background-color: #714703;
            }

            &_blindly-x {
                background-color: #001d14;
            }

            &_blindly-o {
                background-color: #001d14;
            }
        }
    }

    &__button-restart {
        display: none;
        width: 144px;
        height: 48px;
        font-family: "Schwabacher", sans-serif;
        font-size: 24px;
        margin: 24px auto;
        background-color: #69e0ba;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px;

        &:hover {
            background-color: #a4ead3;
        }

        &:active {
            box-shadow: none;
        }

        &_type {
            &_active {
                display: block;
            }
        }
    }
}